In [1]:
import pandas as pd
import numpy as np

chunk = pd.read_csv('bookings.csv', sep='\^',
                    engine='python',
                    chunksize=10000,
                    usecols=['pax', 'arr_port'])
df = pd.concat(chunk, ignore_index=True)
arr_port_count = df[['pax','arr_port']].groupby('arr_port').aggregate(sum)
arr_port_count.sort_values('pax', ascending=False)[:10]

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0